<html>
    <head>
        <script src="js/vue.js"></script>   
        <link rel="stylesheet" href="css/style.css" type="text/css"> 
        <script>

            var allTasks = [
                {id: 1, description: 'Task 1'},
                {id: 2, description: 'Task 2'},
                {id: 3, description: 'Task 3'},
                {id: 4, description: 'Task 4'},
                {id: 5, description: 'Task 5'}
            ];
        </script>
    </head>
    <body>

        <div id='myApp' v-bind:class="{'pretty-font': beautify}">
            <h1>Beautify font</h1>
            <button id="toggleBeautify" @click="toggleBeautify()">Toggle beautify font</button>
            <span v-if="beautify">Beautify is on</span>
            <span v-else>Beautify is off</span>

            <h1>Task List</h1>
            <p>Hello {{ fullName }} ! You have {{ numberOfTasks }} task(s).</p>

            <table>
                <tr>
                    <th>Id</th>
                    <th>Description</th>                    
                </tr>
                <tr v-for="task in tasks" >
                    <td>{{ task.id }}</td>
                    <td>{{ task.description }}</td>                      
                </tr>
            </table>
            
            <input type="text" id="newTask" v-model="newTask" /> <button id="addNewTask" @click="add()">Add Task</button>

            <h1>Define your name</h1>
            <p>Are you not Tiago? Please, type in your new name in the following format: [name] + [surname].</p>
            <input type="text" id="fullName" v-model="fullName" /> <br>
            firstName value is = {{ firstName }} <br>
            lastName value is = {{ lastName }} <br>

            <template v-if="! disappearCommand">
                <h1>We offer a motivation quote for free!</h1>
                <p>Strive not to be a success, but rather to be of value. –Albert Einstein</p>
                <p>We also offer a kitten image, for FREE!</p>
                <img src="http://placekitten.com/g/200/250" />
                <p>Have you already noticed we are trying to fill this space?</p>
            </template>
            <button id="disappear-button" @click="toggleDisappearCommand()">
                {{ disappearCommand ? 'Ok, you my now appear' : 'I command you to disappear vile spammer!' }}
            </button>
        </div>

        <script>
            new Vue({
                el: '#myApp',
                data: {
                    tasks: allTasks,                    
                    newTask: '',         
                    firstName: "Tiago",
                    lastName: "Lammers",
                    beautify: false,
                    disappearCommand: false
                },
                methods: {
                    add: function() {
                        this.tasks.push({
                            id: this.tasks.length + 1, 
                            description: this.newTask
                        });

                        this.newTask = '';
                    },
                    toggleBeautify: function () {
                        this.beautify = !this.beautify;
                    },
                    toggleDisappearCommand: function () {
                        this.disappearCommand = ! this.disappearCommand;
                    }
                },
                computed: {
                    numberOfTasks: function () {
                        return this.tasks.length ;
                    },
                    fullName: {
                        get: function() {
                            return this.firstName + ' ' + this.lastName;
                        },
                        set: function(newName) {
                            var fullName = newName.split(' ');
                            this.firstName = fullName[0];
                            this.lastName  = fullName[1];
                        }
                    }
                }
            });
        </script>
        
    </body>
</html>